<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="images/favicon.ico">

    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
        integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
        integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
        integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
        crossorigin="anonymous"></script>
    <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>


    <title>Frame</title>

    <% include /src/include/styles.ejs %>

</head>

<body>

    <% include /src/include/header.ejs %>

    <section id="hero">
        <div class="container">
            <div class="row">
                <div class="intro-content">
                    <h2>Making <span>your ideas</span><br>
                        happen!</h2>
                    <div>
                        <a href="#" class="btn-get-started scrollto">Get Started</a> 
                        <a href="#" class="btn-projects scrollto">Our Projects</a>
                    </div>
                </div>
            </div>
        </div>
        <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
            <ol class="carousel-indicators">
                <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
                <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
                <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
            </ol>
            <div class="carousel-inner">
                <div class="carousel-item active">
                    <img class="d-block w-100" src="images/3.jpg" alt="First slide">
                </div>
                <div class="carousel-item">
                    <img class="d-block w-100" src="images/4.jpg" alt="Second slide">
                </div>
                <div class="carousel-item">
                    <img class="d-block w-100" src="images/5.jpg" alt="Third slide">
                </div>
            </div>
            <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="sr-only">Previous</span>
            </a>
            <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="sr-only">Next</span>
            </a>
        </div>
    </section>
    <section id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 about-img img-fluid space">
                    <img src="images/about-img.jpg" alt="website template image">
                </div>
                <div class="col-lg-6 content">
                    <h2>Lorem ipsum dolor sit amet, consectetur adipiscing</h2>
                    <h3>Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                    </h3>
                    <ul>
                        <li><i class="far fa-check-circle"></i> Ullamco laboris nisi ut aliquip ex ea commodo consequat.</li>
                        <li><i class="far fa-check-circle"></i> Duis aute irure dolor in reprehenderit in voluptate velit.</li>
                        <li><i class="far fa-check-circle"></i> Ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis
                            aute irure dolor in reprehenderit in voluptate trideta storacalaperda mastiro dolore eu fugiat nulla
                            pariatur.</li>
                    </ul>
                </div>
            </div>
        </div>
    </section>
    <section id="service">
        <div class="container">
            <div class="row">
                <div class="section-header">
                    <h2>Services</h2>
                    <p>Sed tamen tempor magna labore dolore dolor sint tempor duis magna elit veniam aliqua esse amet veniam enim export
                        quid quid veniam aliqua eram noster malis nulla duis fugiat culpa esse aute nulla ipsum velit export irure minim
                        illum fore</p>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-6">
                    <div class="box fadeInLeft" style="visibility: visible; animation-name: fadeInLeft;">
                        <div class="icon"><i class="fas fa-chart-bar"></i></div>
                        <h4 class="title"><a href="#">Lorem Ipsum</a></h4>
                        <p class="description">Voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi sint
                            occaecati cupiditate non provident etiro rabeta lingo.</p>
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="box fadeInLeft" style="visibility: visible; animation-name: fadeInLeft;">
                        <div class="icon"><i class="far fa-image"></i></div>
                        <h4 class="title"><a href="#">Dolor Sitema</a></h4>
                        <p class="description">Minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat tarad limino ata nodera
                        clas.</p>
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="box fadeInLeft" style="visibility: visible; animation-name: fadeInLeft;">
                        <div class="icon"><i class="fas fa-shopping-bag"></i></div>
                        <h4 class="title"><a href="#">Sed ut perspiciatis</a></h4>
                        <p class="description">Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur trinige zareta
                        lobur trade.</p>
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="box fadeInLeft" style="visibility: visible; animation-name: fadeInLeft;">
                        <div class="icon"><i class="fas fa-map"></i></div>
                        <h4 class="title"><a href="#">Magni Dolores</a></h4>
                        <p class="description">Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum rideta
                        zanox satirente madera</p>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section id="clients">
        <div class="container">
            <div class="row">
                <div class="section-header">
                    <h2>Clients</h2>
                    <p>Sed tamen tempor magna labore dolore dolor sint tempor duis magna elit veniam aliqua esse amet veniam enim export quid
                    quid veniam aliqua eram noster malis nulla duis fugiat culpa esse aute nulla ipsum velit export irure minim illum fore</p>
                </div>
            </div>
            <div class="row mt-5">
                <div class="col-lg-2 col-md-6 col-sm-12 space">
                    <img class="img-fluid" src="images/client-1.png" alt="First slide">
                </div>
                <div class="col-lg-2 col-md-6 col-sm-12 space">
                    <img class="img-fluid" src="images/client-2.png" alt="First slide">
                </div>
                <div class="col-lg-2 col-md-6 col-sm-12 space">
                    <img class="img-fluid" src="images/client-3.png" alt="First slide">
                </div>
                <div class="col-lg-2 col-md-6 col-sm-12 space">
                     <img class="img-fluid" src="images/client-4.png" alt="First slide">
                </div>
                <div class="col-lg-2 col-md-6 col-sm-12 space">
                    <img class="img-fluid" src="images/client-5.png" alt="First slide">
                </div>
                <div class="col-lg-2 col-md-6 col-sm-12 space">
                    <img class="img-fluid" src="images/client-6.png" alt="First slide">
                </div>
            </div>
        </div>
    </section>
    <section id="portifolio">
        <div class="container">
            <div class="row">
                <div class="section-header">
                    <h2>Our Protfolio</h2>
                    <p>Sed tamen tempor magna labore dolore dolor sint tempor duis magna elit veniam aliqua esse amet veniam enim export quid
                    quid veniam aliqua eram noster malis nulla duis fugiat culpa esse aute nulla ipsum velit export irure minim illum fore</p>
                </div>
            </div>
        </div>
        <div class="row mt-5">
            <div class="col-lg-3 col-md-4 col-sm-12 space">
                <div class="portfolio-item fadeInUp" style="visibility: visible; animation-name: fadeInUp;">
                    <a href="#" class="portfolio-popup"><img src="images/1.jpg" alt="website template image">
                        <div class="portfolio-overlay">
                            <div class="portfolio-info">
                                <h2 class="fadeInUp" style="visibility: visible; animation-name: fadeInUp;">Portfolio Item 1
                                </h2>
                            </div>
                        </div>
                    </a>
                </div>
            </div>
            <div class="col-lg-3 col-md-4 col-sm-12 space">
                <div class="portfolio-item fadeInUp" style="visibility: visible; animation-name: fadeInUp;">
                    <a href="#" class="portfolio-popup"><img src="images/2.jpg" alt="website template image">
                        <div class="portfolio-overlay">
                            <div class="portfolio-info">
                                <h2 class="fadeInUp" style="visibility: visible; animation-name: fadeInUp;">Portfolio Item 2
                                </h2>
                            </div>
                        </div>
                    </a>
                </div>
            </div>
            <div class="col-lg-3 col-md-4 col-sm-12 space">
                <div class="portfolio-item fadeInUp" style="visibility: visible; animation-name: fadeInUp;">
                    <a href="#" class="portfolio-popup"><img src="images/3 (1).jpg" alt="website template image">
                        <div class="portfolio-overlay">
                            <div class="portfolio-info">
                                <h2 class="fadeInUp" style="visibility: visible; animation-name: fadeInUp;">Portfolio Item 3
                                </h2>
                            </div>
                        </div>
                    </a>
                </div>
            </div>
            <div class="col-lg-3 col-md-4 col-sm-12 space">
                <div class="portfolio-item fadeInUp" style="visibility: visible; animation-name: fadeInUp;">
                    <a href="#" class="portfolio-popup"><img src="images/4 (1).jpg" alt="website template image">
                        <div class="portfolio-overlay">
                            <div class="portfolio-info">
                                <h2 class="fadeInUp" style="visibility: visible; animation-name: fadeInUp;">Portfolio Item 4
                                </h2>
                            </div>
                        </div>
                    </a>
                </div>
            </div>
            <div class="col-lg-3 col-md-4 col-sm-12 space">
                <div class="portfolio-item fadeInUp" style="visibility: visible; animation-name: fadeInUp;">
                    <a href="#" class="portfolio-popup"><img src="images/5 (1).jpg" alt="website template image">
                        <div class="portfolio-overlay">
                            <div class="portfolio-info">
                                <h2 class="fadeInUp" style="visibility: visible; animation-name: fadeInUp;">Portfolio Item 5
                                </h2>
                            </div>
                        </div>
                    </a>
                </div>
            </div>
             <div class="col-lg-3 col-md-4 col-sm-12 space">
                <div class="portfolio-item fadeInUp" style="visibility: visible; animation-name: fadeInUp;">
                    <a href="#" class="portfolio-popup"><img src="images/6.jpg" alt="website template image">
                        <div class="portfolio-overlay">
                            <div class="portfolio-info">
                                <h2 class="fadeInUp" style="visibility: visible; animation-name: fadeInUp;">Portfolio Item 6
                                </h2>
                            </div>
                        </div>
                    </a>
                </div>
            </div>
             <div class="col-lg-3 col-md-4 col-sm-12 space">
                <div class="portfolio-item fadeInUp" style="visibility: visible; animation-name: fadeInUp;">
                    <a href="#" class="portfolio-popup"><img src="images/7.jpg" alt="website template image">
                        <div class="portfolio-overlay">
                            <div class="portfolio-info">
                                <h2 class="fadeInUp" style="visibility: visible; animation-name: fadeInUp;">Portfolio Item 7
                                </h2>
                            </div>
                        </div>
                    </a>
                </div>
            </div>
            <div class="col-lg-3 col-md-4 col-sm-12 space">
                <div class="portfolio-item fadeInUp" style="visibility: visible; animation-name: fadeInUp;">
                    <a href="#" class="portfolio-popup"><img src="images/8.jpg" alt="website template image">
                        <div class="portfolio-overlay">
                            <div class="portfolio-info">
                                <h2 class="fadeInUp" style="visibility: visible; animation-name: fadeInUp;">Portfolio Item 8
                                </h2>
                            </div>
                        </div>
                    </a>
                </div>
            </div>
        </div>
    </section>
    <section id="testimonials">
        <div class="container">
            <div class="row">
                <div class="section-header">
                    <h2>Testimonials</h2>
                    <p>Sed tamen tempor magna labore dolore dolor sint tempor duis magna elit veniam aliqua esse amet veniam enim export quid
                    quid veniam aliqua eram noster malis nulla duis fugiat culpa esse aute nulla ipsum velit export irure minim illum fore</p>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-4">
                    <div class="testimonial-item">
                        <p><img src="images/quote-sign-left.png" class="quote-sign-left" alt="website template image">Enim nisi quem
                            export duis labore cillum quae magna enim sint quorum nulla quem veniam duis minim tempor labore quem eram duis
                            noster aute amet eram fore quis sint minim.<img src="images/quote-sign-right.png" class="quote-sign-right"
                                alt="website template image"></p>
                        <img src="images/testimonial-1.jpg" class="testimonial-img" alt="website template image">
                        <h3>Jena Karlis</h3>
                        <h4>Store Owner</h4>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="testimonial-item">
                        <p><img src="images/quote-sign-left.png" class="quote-sign-left" alt="website template image">Fugiat enim eram quae cillum dolore dolor amet nulla culpa multos export minim fugiat minim velit minim dolor enim duis
                        veniam ipsum anim magna sunt elit fore quem dolore labore illum veniam.<img src="images/quote-sign-right.png" class="quote-sign-right"
                                alt="website template image"></p>
                        <img src="images/testimonial-4.jpg" class="testimonial-img" alt="website template image">
                        <h3>Matt Brandon</h3>
                        <h4>Freelancer</h4>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="testimonial-item">
                        <p><img src="images/quote-sign-left.png" class="quote-sign-left" alt="website template image">Quis quorum aliqua sint quem legam fore sunt eram irure aliqua veniam tempor noster veniam enim culpa labore duis sunt
                        culpa nulla illum cillum fugiat legam esse veniam culpa fore nisi cillum quid.<img src="images/quote-sign-right.png" class="quote-sign-right"
                                alt="website template image"></p>
                        <img src="images/testimonial-5.jpg" class="testimonial-img" alt="website template image">
                        <h3>John Larson</h3>
                        <h4>Entrepreneur</h4>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section id="call-to-action">
        <div class="container">
            <div class="row">
                <div class="col-lg-9 text-center text-lg-left call-to-action-heading">
                    <h3 class="cta-title">Call To Action</h3>
                    <p class="cta-text">Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla
                        pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est
                        laborum.</p>
                </div>
                <div class="col-lg-3 cta-btn-container text-center"><a class="cta-btn align-middle" href="#">Call To Action</a></div>
            </div>
        </div>
    </section>
    <section id="team">
        <div class="container">
            <div class="row">
                <div class="section-header">
                    <h2>Our Team</h2>
                </div>    
            </div>
            <div class="row">
                <div class="col-lg-3 col-md-6">
                    <div class="member">
                        <div class="pic">
                            <img src="images/team-1.jpg" alt="website template image">
                        </div>
                        <div class="details">
                            <h4>Walter White</h4>
                            <span>Chief Executive Officer</span>
                            <div class="social">
                                <a href="#">
                                    <i class="fab fa-twitter"></i>
                                </a>
                                <a href="#">
                                    <i class="fab fa-facebook-f"></i>
                                </a> 
                                <a href="#">
                                    <i class="fab fa-google-plus"></i>
                                </a> 
                                <a href="#">
                                    <i class="fab fa-linkedin"></i>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
                 <div class="col-lg-3 col-md-6">
                    <div class="member">
                        <div class="pic">
                            <img src="images/team-2.jpg" alt="website template image">
                        </div>
                        <div class="details">
                            <h4>Sarah Jhinson</h4>
                            <span>Product Manager</span>
                            <div class="social">
                                <a href="#">
                                    <i class="fab fa-twitter"></i>
                                </a>
                                <a href="#">
                                    <i class="fab fa-facebook-f"></i>
                                </a> 
                                <a href="#">
                                    <i class="fab fa-google-plus"></i>
                                </a> 
                                <a href="#">
                                    <i class="fab fa-linkedin"></i>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6">
                    <div class="member">
                        <div class="pic">
                            <img src="images/team-3.jpg" alt="website template image">
                        </div>
                        <div class="details">
                            <h4>William Anderson</h4>
                            <span>CTO</span>
                            <div class="social">
                                <a href="#">
                                    <i class="fab fa-twitter"></i>
                                </a>
                                <a href="#">
                                    <i class="fab fa-facebook-f"></i>
                                </a>
                                <a href="#">
                                    <i class="fab fa-google-plus"></i>
                                </a>
                                <a href="#">
                                    <i class="fab fa-linkedin"></i>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6">
                    <div class="member">
                        <div class="pic">
                            <img src="images/team-4.jpg" alt="website template image">
                        </div>
                        <div class="details">
                            <h4>Amanda Jepson</h4>
                            <span>Accountant</span>
                            <div class="social">
                                <a href="#">
                                    <i class="fab fa-twitter"></i>
                                </a>
                                <a href="#">
                                    <i class="fab fa-facebook-f"></i>
                                </a>
                                <a href="#">
                                    <i class="fab fa-google-plus"></i>
                                </a>
                                <a href="#">
                                    <i class="fab fa-linkedin"></i>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section id="contact">
        <div class="container">
            <div class="row">
                <div class="section-header">
                    <h2>Contact Us</h2>
                    <p>Sed tamen tempor magna labore dolore dolor sint tempor duis magna elit veniam aliqua esse amet veniam enim export quid
                    quid veniam aliqua eram noster malis nulla duis fugiat culpa esse aute nulla ipsum velit export irure minim illum fore</p>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-4">
                    <div class="contact-address">
                        <i class="fas fa-map-marker-alt"></i>
                        <h3>Address</h3>
                        <address>
                            A108 Adam Street, NY 535022, USA
                        </address>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="contact-phone">
                        <i class="fas fa-phone"></i>
                        <h3>Phone Number</h3>
                        <p>
                            <a href="#">+1 5589 55488 55</a>
                        </p>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="contact-email">
                        <i class="far fa-envelope"></i>
                        <h3>Email</h3>
                        <p>
                            <a href="#">info@example.com</a>
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="contact-form">
                <form action="#" method="post" role="form" class="contactForm">
                    <div class="form-row">
                        <div class="form-group col-md-6">
                            <input type="text" name="name" class="form-control" id="name" placeholder="Your Name">
                            <div class="validation"></div>
                        </div>
                        <div class="form-group col-md-6">
                            <input type="email" class="form-control" name="email" id="email" placeholder="Your Email">
                            <div class="validation"></div>
                        </div>
                    </div>
                    <div class="form-group">
                        <input type="text" class="form-control" name="subject" id="subject" placeholder="Subject">
                        <div class="validation"></div>
                    </div>
                    <div class="form-group">
                        <textarea class="form-control" name="message" placeholder="Message"></textarea>
                        <div class="validation"></div>
                    </div>
                    <div class="text-center">
                        <button type="submit">Send Message</button>
                    </div>
                </form>
            </div>
        </div>
    </section>
    <% include /src/include/footer.ejs %>
    <% include /src/include/scripts.ejs %>
    <script>
        $(window).scroll(function () {
            if ($(window).scrollTop() >= 200) {
                $('nav').addClass('fixed-header');
            }
            else {
                $('nav').removeClass('fixed-header');
            }
        });
    </script>
</body>

</html>